body{
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: 'Inconsolata', monospace;

}
.topbar{
  font-size: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  color: #fff;
  font-size: 28px;
  border-bottom: 1px solid #f2f2f2;
}
.viewport{
  position: absolute;
  left: 0;
  font-size: 8px;
  top: 100px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85em;
  margin: auto;
}
    .content{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .grid{
      display: grid;
      grid-template-columns: repeat(16, 5em);
      grid-template-rows: repeat(16, 5em);
      gap:1em;
    }
    .block{
      background: #D8D8D8;
      border-radius: 50%;
      z-index: 1;
      border: 3px solid #D8D8D8;
      box-sizing: border-box;
      background-size: cover;
      cursor: pointer;
    }
  .viewport.right{
    cursor: url('../cursors/right.png') 16 16, auto;
  }
  .viewport.left{
    cursor: url('../cursors/left.png') 16 16, auto;
  }
  .viewport.up{
    cursor: url('../cursors/up.png') 16 16, auto;
  }
  .viewport.down{
    cursor: url('../cursors/down.png') 16 16, auto;
  }

  .content:before{
    content: '';
    position: absolute;
    left:0;
    width:100%;
    top:50%;
    height: 1px;
    border-top:1px dotted #f2f2f2;
  }


  .content:after{
    content: '';
    position: absolute;
    top:0;
    height:100%;
    left:50%;
    width: 1px;
    border-left:1px dotted #f2f2f2;
  }
  .titles{
    font-size: 6px;
  }
  .title{
    width: 20em;
    font-family: monospace;
    position: absolute;
    background: var(--title-background);
    text-align: center;
    padding: .5em;
    height: 4em;
    box-sizing: border-box;
  }
  .title span{
    font-size: 2.4em;
  }
  .title:after{
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 4em solid transparent;
    border-left: 4em solid var(--title-background);
  }
  .title:before{
    position: absolute;
    top: 0;
    right: 100%;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 4em solid transparent;
    border-right: 4em solid var(--title-background);
  }
  .title--top{
    top:0;
    left: 50%;
    margin-left: -10em;
    --title-background: #8BFFB5;
  }
  .title--left{
    top:50%;
    left: -8em;
    margin-top: -2em;
    transform: rotate(-90deg);
    --title-background: #7AFFFF;
  }
  .title--right{
    top:50%;
    right: -8em;
    margin-top: -2em;
    transform: rotate(90deg);
    --title-background: #FFFD80;
  }

  .title--bottom{
    bottom:0;
    left: 50%;
    margin-left: -9em;
    --title-background: #FF7DD0;
  }
  .title--bottom:before{
    border-top: 4em solid transparent;
    border-right: 4em solid var(--title-background);
  }
  .title--bottom:after{
    border-top: 4em solid transparent;
    border-left: 4em solid var(--title-background);
  }

  .block--physical{
    border-color:  #FF7DD0;
  }
  .block--virtual{
    border-color: #8BFFB5;
  }
  .block--design{
    border-color:  #FFFD80;
  }
  .block--technology{
    border-color:  #7AFFFF  ;
  }
  .dialog{
    position: fixed;
    z-index: 1;
    overflow: hidden;
    top: 0;
    left: 0;
    /*height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px;*/
    max-width: 1000px;
    right:0;
    bottom:0;
  }
  @media only screen and (min-width: 1060px) {
    .dialog{
      left: 50%;
      margin-left: -500px;
    }
  }
  .dialog .dialog__fill{
    background: #fff;
    position: absolute;
    width: 500vw;
    height: 500vw;
    /*left: 50%;
    top: 50%;*/
    left: 50%;
    top: 50%;
    margin-left: -250vw;
    margin-top: -250vw;
    border-radius: 50%;
    transform: scale(.001);
    opacity: 0;
    will-change: transform, opacity;
    transition: transform .5s, opacity 1.5s;
  }
  .dialog.dialog--open .dialog__fill{
    transition: transform 1.25s, opacity .5s;
    transform: scale(1);
    opacity: 1;
  }
  .dialog__content{
    position: absolute;
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 0;
    overflow: auto;
    margin-top: 52px;
  }
  .dialog.dialog--open .dialog__content{
    transition: opacity .5s .5s;
    opacity: 1;
  }
  .dialog__content header{
    text-align: center;
  }
  .dialog__content img {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block;
  }
  .dialog__content img.dialog__hero{
    max-width: 100%;
    width: 100%;
  }
  .dialog__content article{
    padding: .25em .75em;
    padding-bottom: 2em;
    font-size: 20px;
    text-align: justify;
  }
  .btnBack{
    /*position: absolute;
    z-index: 2;
    left: 2px;
    top: 2px;*/
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    background: url('../icons/back.png') no-repeat center;
    background-size: 80%;
    cursor: pointer;
    vertical-align: middle;
  }
  .dialog__statusbar{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: #32084C;
    color: #fff;
    padding: 10px;
    transition: opacity .25s;
  }
  .dialog.dialog--open .dialog__statusbar{
    transition: opacity 1s .25s;
    opacity: 1;
  }
.topbar header{
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  align-items: center;
  height: 100%;
  max-width: 85em;
  margin: auto;
  outline: 1px solid #fff;
  background: #32084C;
}
.topbar header a{
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.topbar header .name{
  padding-left: 20px;
  font-size: 36px;
}
.viewport{
  outline: 1px solid #fff;
  background: #32084C;
}

@media (min-width: 680px), (min-height:880px) {
  .topbar, .viewport{
    font-size: 15px;
  }
  .titles{
    font-size: 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .topbar, .viewport{
    font-size: 20px;
  }
  .dialog__content article{
    font-size: 24px;
  }
  .titles{
    font-size: 15px;
  }
}
@media only screen and (min-width: 1800px) {
  .topbar, .viewport{
    font-size: 24px;
  }
  .titles{
    font-size: 15px;
  }
}
#blackout{
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity .5s;
  display: none;
}
#blackout.blackout--open{
  opacity: 1;
}
strong{
  font-weight: 900;
}
